{% extends 'app/layout.html' %}

{% block body %}
<h1>Information about the app</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Delectus iusto voluptatem magnam natus quibusdam ipsam deserunt 
    cum debitis repellendus sequi praesentium voluptate recusandae quas nisi temporibus 
    vero sunt, molestiae, illo enim a eos ad distinctio aspernatur. 
    Porro necessitatibus asperiores consequatur atque. 
    Sapiente similique ab odit nulla laboriosam modi quisquam culpa!</p>
{% endblock body %}